In [2]:
import numpy as np
import pandas as pd

In [3]:
contact=pd.read_csv("contact_data.csv")

In [4]:
contact.head()

              Name                      Email Relationship Status
0  Joseph Cummings  abigailrangel@example.org            coworker
1   Timothy Newman        cfuller@example.net              family
2    Ashley Wilson     coltonshaw@example.com              family
3  Ronald Caldwell   saundersnoah@example.org              friend
4    Terri Russell       tallison@example.org          ex-partner

In [5]:
contact.shape

(200, 3)

In [6]:
contact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 200 non-null    object
 1   Email                200 non-null    object
 2   Relationship Status  100 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB

In [7]:
contact.isnull().sum()

Name                     0
Email                    0
Relationship Status    100
dtype: int64

In [8]:
contact = contact.drop(contact.tail(100).index)

In [9]:
contact.tail()

                  Name                      Email Relationship Status
95      David Campbell  floresallison@example.net            coworker
96  Matthew Richardson   martintravis@example.net          ex-partner
97      Cristian Perez       dalton11@example.com              friend
98        Annette Gray  kimberlywalsh@example.net          ex-partner
99        Sandra Mason       liukelly@example.org            coworker

In [10]:
contact.shape

(100, 3)

In [32]:
# filtering data on the basis of relationship status

ex = contact[~contact['Relationship Status'].str.contains('ex-partner', case=False)]
friends = contact[contact['Relationship Status'].str.contains('friend', case=False)]
family = contact[contact['Relationship Status'].str.contains('family', case=False)]
coworkers = contact[contact['Relationship Status'].str.contains('coworker', case=False)]



new_df = pd.concat([friends, family, coworkers])
# new_df.reset_index(drop=True, inplace=True)

# Print the new DataFrame
print(new_df)
print("Combined DataFrame shape:", new_df.shape)

               Name                         Email Relationship Status
3   Ronald Caldwell      saundersnoah@example.org              friend
14      Sarah Lucas          nandrews@example.net              friend
15  Suzanne Pittman       ronnieclark@example.org              friend
16  Jennifer Rivera        michelle12@example.org              friend
22    Lindsay Smith      susanwatkins@example.org              friend
..              ...                           ...                 ...
87   Gregory Thomas  hernandezrebecca@example.net            coworker
91      Logan Payne           ptaylor@example.org            coworker
92    Dennis Nguyen            ryan64@example.com            coworker
95   David Campbell     floresallison@example.net            coworker
99     Sandra Mason          liukelly@example.org            coworker

[72 rows x 3 columns]
Combined DataFrame shape: (72, 3)

In [33]:
import pickle
pickle.dump(new_df, open('filtered_contact.pkl','wb'))

In [34]:
with open("filtered_contact.pkl", "rb") as file:
    filtered_contact = pickle.load(file)

print(filtered_contact.head())

               Name                     Email Relationship Status
3   Ronald Caldwell  saundersnoah@example.org              friend
14      Sarah Lucas      nandrews@example.net              friend
15  Suzanne Pittman   ronnieclark@example.org              friend
16  Jennifer Rivera    michelle12@example.org              friend
22    Lindsay Smith  susanwatkins@example.org              friend

Name                         Cristian Perez
Email                  dalton11@example.com
Relationship Status                  friend
Name: 97, dtype: object

KeyError: "None of [Index(['family', 'friends', 'coworker'], dtype='object')] are in the [columns]"